/* 

headings and backgrounds: #4aaaa5
regular font color: #777777
main header background color: #ffffff
main header border color: #cccccc
footer background color: #666666
main content background color: #ffffff
main content border color: #dddddd

heading fonts: font-family: 'Georgia', Times, Times New Roman, serif;
all other fonts: font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

*/

body {
    background-image: url(./../images/spikes/spikes.png);
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    background-color: #fff;
    border-color: 1px solid #ddd;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    width: 960px;
    margin: auto;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

li a {
    margin-top: 10px;
    padding: 10px 0px 10px 20px;
    text-decoration: none;
    color: #999;
    float: right;
}

#nav1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    background-color: #4aaaa5;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    margin-top: 0px;
    padding-right: 20px;
}

.content {
    background-color: #fff;
    border-color: 1px solid #ddd;
    width: 960px;
    height: 100%;
    clear: both;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding-bottom: 30px;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding: 20px;
    margin-bottom: -10px;
}

hr {
    margin: 0px 20px;
    border: 1px #E6E6E6 solid;
}

img {
    float: left;
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
}

.text {
    padding-top: 10px;
}

p {
    padding: 0px 20px;
    line-height: 1.5;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background-color: #666;
    color: #fff;
    text-align: center;
    z-index: 2;
}

/* CONTACT PAGE STYLING */

.contact-form {
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    margin: auto;
}

form {
    padding: 20px 20px 0px 20px;
}

input {
    margin-top: 5px;
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 5px;
}

#submit {
    width: 100px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

/* PORTFOLIO PAGE STYLING */

.gallery {
    clear: both;
    width: 960px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 15px;
} 

.image1 {
    width: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image2 {
    width: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image3 {
    width: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-column-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image4 {
    width: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-column-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image5 {
    width: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;    
    grid-column-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image-banner1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 300px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
}

.image-banner2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 300px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
}

.image-banner3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 300px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
}

.image-banner4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 300px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
}

.image-banner5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 300px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}


/* SCREEN SIZING */

@media screen and (max-width: 980px) {
    .content {
        width: 800px;
        margin: 0px 0px 50px 20px;
    }

    ul {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 700px;
    }
}

@media screen and (max-width: 640px) {
    header {
        position: static;
    }

    #nav1 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #contact {
        width: 100%;
        text-align: center;
    }

    #portfolio {
        width: 100%;
        text-align: center;
    }

    #index {
        width: 100%;
        text-align: center;
    }

    .content {
        width: 600px;
    }

    .profile {
        width: 100%;
        height: 100%;
    }

    .gallery {
        width: 400px;
        position: static;
        display: block;
        padding-left: 60px;
    }

    .image {
        position: static;
        display: block;
        margin: auto;
    }

    .image-banner1, .image-banner2, .image-banner3, .image-banner4, .image-banner5 {
        height: 40px;
    }

    .image-banner1 {
        top: 110px;
    }

    .image-banner2 {
        top: 240px;
    }

    .image-banner3 {
        top: 370px;
    }

    .image-banner4 {
        top: 500px;
    }

    .image-banner5 {
        top: 630px;
    }

    #text1 {
        position: relative;
        bottom: 180px;
        z-index: 2;
    }

    #text2 {
        position: relative;
        bottom: 305px;
        z-index: 2;
    }

    #text3 {
        position: relative;
        bottom: 435px;
        z-index: 2;
    }

    #text4 {
        position: relative;
        bottom: 560px;
        z-index: 2;
    }

    #text5 {
        position: relative;
        bottom: 690px;
        z-index: 2;
    }

    /* need code to get the banner p tags to show within the banner divs */